html {
    height: 100%;
}


#Cover {
    height: 100vh;
    background-image: url("imgs/HBxCWebsite24MainMadisonNYImageSizedforLogan-Final.gif");
    background-position: 45% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    /* animation: createBox 1s; */
} 
/* @keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  } */

#Services {
    margin-top: 200px;
}

#Work {
    margin-top: 200px;
}

#Clients {
    margin-top: 200px;
}

/* #Contact {
    margin-top: 200px;
} */

#footer {
    height: 120px;
}

.color {
    color: #395277;
}

.bg-color {
    background-color: #395277;
}

.bg-color-opacity {
    background-color: #395277;
    opacity: 0.7;
}

.outline {
    color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
}

.sizing {
    width: 420px; 
    font-weight: 100;
}

.coverSpacer {
    margin-top: 400px;
    /* padding-top: 250px; */
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s ease-in-out;
}

.over {
    margin: 0;
    height: 100%; 
    overflow: hidden;
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 33% 50%;
    position: absolute;
    top: 0px;
    left: 0px;
}


.background-bio {
    background-image: url("imgs/HBxC-BiosBkgrd.jpg");
    background-size: cover;
}

.fix {
    display: inline-block!important;
}

@media screen and (max-width: 1490px) {
    .img-resize-about {
        width: 500px
    }
    .img-services {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 992px) {
    .ul-services {
        padding-left: none;
    }
    .img-resize-about {
        width: 500px;
    }
    .img-resize-logo {
        height: 100px;
        width: 200px;
    }
  }

  @media screen and (max-width: 800px) {
    .img-resize {
        width: 600px;
    } 
    #Cover {
        background-position: 45% 50%;
    }
    .video {
        width: 500px;
    }
  }

  @media screen and (max-width: 600px) {
    .img-resize {
        
        width: 500px;
    } 

    .img-resize-about {
        width: 350px
    }

    .video {
        width: 400px;
    }
    
  }

  @media screen and (max-width: 471px) {
    .coverSpacer{
        margin-top: 500px;
    }
    .img-resize {
        width: 400px;
    } 
    .video {
        width: 300px;
    }
  }

  @media screen and (max-width: 371px) {
    .img-services {
        height: 250px;
        width: 250px;
    }
    .img-resize {
        width: 370px;
        /* height: 230px; */
    }
    .img-resize-about {
        width: 300px;
    }
    .sizing {
        width: 290px;
    }

    
  }

