#Cover {
    height: 100vh;
    background-image: url("imgs/@HBxC_StreetSignAdobeStock_139154492.jpg");
    background-position: 45% 45%;
    background-size: cover;
    background-repeat: no-repeat;
}

#Services {
    margin-top: 200px;
}

#Work {
    margin-top: 200px;
}

#Clients {
    margin-top: 200px;
}

/* #Contact {
    margin-top: 200px;
} */

#footer {
    height: 120px;
}

.color {
    color: #395277;
}

.bg-color {
    background-color: #395277;
}

.bg-color-opacity {
    background-color: #395277;
    opacity: 0.7;
}

.outline {
    color: white;
	-webkit-text-stroke: 1px #F8F8F8;
	text-shadow: 0px 1px 4px #23430C;
}

.sizing {
    width: 350px; 
    font-weight: 100;
}

.coverSpacer {
    margin-top: 400px;
    /* padding-top: 250px; */
}

@media screen and (max-width: 1490px) {
    .img-resize-about {
        width: 500px
    }
    .img-services {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 992px) {
    .ul-services {
        padding-left: none;
    }
    .img-resize-about {
        width: 500px;
    }
    .img-resize-logo {
        height: 100px;
        width: 200px;
    }
  }

  @media screen and (max-width: 800px) {
    .img-resize {
        height: 600px;
        width: 600px;
    } 
    #Cover {
        background-position: 45% 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .img-resize {
        height: 330px;
        width: 400px;
    } 

    .img-resize-about {
        width: 350px
    }
    
  }

  @media screen and (max-width: 471px) {
    .coverSpacer{
        margin-top: 600px;
    }
  }

  @media screen and (max-width: 371px) {
    .img-services {
        height: 250px;
        width: 250px;
    }
    .img-resize {
        width: 290px;
        height: 230px;
    }
    .img-resize-about {
        width: 300px;
    }
    .sizing {
        width: 290px;
    }

    
  }

